
<section id="Design">
    <div style="position: fixed;left: 10px;">
            <ul class="legend" style="padding: 15px;padding-top: 0px;margin: 0px;">
                <h1 style="color: #d0d0d0;"><img src="Source/Images/project.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 宗地资讯统计</h1>
                <li style="width:200px">
                <em>总用地面积(平方公米)</em>
                <span>#####</span>
                </li>
                <li style="width:200px">
                <em>容积率总平均</em>
                <span>##.##％</span>
                </li>
                <li style="width:200px">
                <em>建筑密度总平均</em>
                <span>##.##％</span>
                </li>
                <li style="width:200px">
                <em>绿地率总平均</em>
                <span>##.##％</span>
                </li>
                <li style="width:200px">
                <em>总投资金额</em>
                <span>$#####</span>
                </li>
            </ul>
                <h1 style="color: #d0d0d0; font-size: 19.5px; padding-left: 15px"><img src="Source/Images/timetable.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 宗地规划进度：
                    <lm style="font-size: 1px;background-color: #3c56e7;color: #3c56e7;text-shadow: none;">OA</lm><em style="font-size:14px; font-style: normal"> 正常</em>
                    <lm style="font-size: 1px;background-color: #e74c3c;color: #e74c3c;text-shadow: none;">OA</lm><em style="font-size:14px; font-style: normal"> 滞后</em>
                    
                </h1>
        </div>

    <div>
        <br>
        <div id="chart" class="chart-container"></div>
        <ul class="chart-container legend" style="padding: 15px;padding-top: 0px;margin: 0px;">
            <h1 style="color: #d0d0d0;"><img src="Source/Images/chart.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 宗地用途统计</h1>
            <li>
            <em>商业用地</em>
            <span>3</span>
            </li>
            <li>
            <em>居住用地</em>
            <span>6</span>
            </li>
            <li>
            <em>工业用地</em>
            <span>1</span>
            </li>
            <li>
            <em>供电用地</em>
            <span>1</span>
            </li>
            <li>
            <em>公园绿地</em>
            <span>2</span>
            </li>
        </ul>
    </div>
</section>
