
<section id="Facility">
    <div style="position: fixed;left: 10px;">
            <ul class="legend" style="padding: 15px;padding-top: 0px;margin: 0px;">
                <h1 style="color: #d0d0d0;"><img src="Source/Images/facility.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 运维项目统计</h1>
                <li>
                <em>高架陆桥</em>
                <span>3</span>
                </li>
                <li>
                <em>大楼住宅</em>
                <span>4</span>
                </li>
                <li>
                <em>商办大楼</em>
                <span>2</span>
                </li>
                <li>
                <em>工业工厂</em>
                <span>3</span>
                </li>
                <li>
                <em>娱乐商场</em>
                <span>1</span>
                </li>
            </ul>
            <ul class="legend" style="padding: 15px;padding-top: 0px;margin: 0px;">
                    <h1 style="color: #d0d0d0;"><img src="Source/Images/issue.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 待处理议题</h1>
                    <li>
                    <em>设备损毁</em>
                    <span>5</span>
                    </li>
                    <li>
                    <em>定时保养</em>
                    <span>1</span>
                    </li>
                    <li>
                    <em>耗材补给</em>
                    <span>3</span>
                    </li>
                    <li>
                    <em>传感器异常</em>
                    <span>4</span>
                    </li>
                </ul>
        </div>

    <div>
        <br>
        <div id="chart" class="chart-container"></div>
        <ul class="chart-container legend" style="padding: 15px;padding-top: 0px;margin: 0px;">
            <h1 style="color: #d0d0d0;"><img src="Source/Images/health.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 使用年限统计</h1>
            <li>
            <em>三十年以上</em>
            <span>1</span>
            </li>
            <li>
            <em>二十五年以上</em>
            <span>2</span>
            </li>
            <li>
            <em>二十年以上</em>
            <span>5</span>
            </li>
            <li>
            <em>十年以上</em>
            <span>2</span>
            </li>
            <li>
            <em>新建至十年间</em>
            <span>2</span>
            </li>
        </ul>
    </div>
        <br>
    <div>
        <div class="pieID pie" ></div>
        <ul class="pieID legend" style="padding-top: 0px;">
            <h1 style="color: #d0d0d0;"><img src="Source/Images/heart.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"> | 健康状况统计</h1>
            <li>
            <em>结构安全正常</em>
            <span>10</span>
            </li>
            <li>
            <em>超过使用年限</em>
            <span>1</span>
            </li>
            <li>
            <em>结构安全须补强</em>
            <span>1</span>
            </li>
        </ul>
    </div>
</section>
