
<section id="Prog">
    <div style="position: fixed;left: 10px;">
            <ul class="legend" style="padding: 15px;padding-top: 0px;margin: 0px;">
                <h1 style="color: #d0d0d0;"><img src="Source/Images/mec.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 工程设备监控</h1>
                <li>
                <em>垂直起降机</em>
                <span>2</span>
                </li>
                <li>
                <em>吊挂机具</em>
                <span>1</span>
                </li>
                <li>
                <em>铲运机</em>
                <span>1</span>
                </li>
                <li>
                <em>沥青摊铺机</em>
                <span>3</span>
                </li>
                <li>
                <em>灌浆车</em>
                <span>6</span>
                </li>
            </ul>
            <ul class="legend" style="padding: 15px;padding-top: 0px;margin: 0px;">
                    <h1 style="color: #d0d0d0;"><img src="Source/Images/save.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 工程安全生产</h1>
                    <li>
                    <em>未穿载护具</em>
                    <span>5</span>
                    </li>
                    <li>
                    <em>物件坠落</em>
                    <span>1</span>
                    </li>
                    <li>
                    <em>未设安全措施</em>
                    <span>3</span>
                    </li>
                    <li>
                    <em>人员伤亡</em>
                    <span>1</span>
                    </li>
                </ul>
                <h1 style="color: #d0d0d0; font-size: 19.5px; padding-left: 15px"><img src="Source/Images/timetable.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 工程进度：
                    <lm style="font-size: 1px;background-color: #88b999;color: #88b999;text-shadow: none;">OA</lm><em style="font-size:14px; font-style: normal"> 正常 </em>
                    <lm style="font-size: 1px;background-color: #e74c3c;color: #e74c3c;text-shadow: none;">OA</lm><em style="font-size:14px; font-style: normal"> 滞后</em>
                </h1>
        </div>

    <div>
        <br>
        <div id="chart" class="chart-container"></div>
        <ul class="chart-container legend" style="padding: 15px;padding-top: 0px;margin: 0px;">
            <h1 style="color: #d0d0d0;"><img src="Source/Images/engineers.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 工程人员统计</h1>
            <li>
            <em>建筑工人</em>
            <span>211</span>
            </li>
            <li>
            <em>脚手架工人</em>
            <span>45</span>
            </li>
            <li>
            <em>机电工人</em>
            <span>20</span>
            </li>
            <li>
            <em>开挖工人</em>
            <span>33</span>
            </li>
            <li>
            <em>施工员</em>
            <span>11</span>
            </li>
        </ul>
    </div>
        <br>
    <div>
        <div class="pieID pie" ></div>
        <ul class="pieID legend" style="padding-top: 0px;">
            <h1 style="color: #d0d0d0;"><img src="Source/Images/item.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"> | 项目类型统计</h1>
            <li>
            <em>市政工程</em>
            <span>5</span>
            </li>
            <li>
            <em>房屋建筑</em>
            <span>6</span>
            </li>
            <li>
            <em>桥梁建设</em>
            <span>2</span>
            </li>
            <li>
            <em>运输工程</em>
            <span>3</span>
            </li>
        </ul>
    </div>
</section>
