
<section id="UniProg">
    <div style="position: fixed;left: 10px;">
            <ul class="legend" style="padding: 15px;padding-top: 0px;margin: 0px;">
                <h1 style="color: #d0d0d0;"><img src="Source/Images/project.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 项目资讯</h1>
                <li style="width:200px">
                <em>项目名称</em>
                <span>高架陆桥</span>
                </li>
                <li style="width:200px">
                <em>总投资金额</em>
                <span>$#####</span>
                </li>
                <li style="width:200px">
                <em>业主方</em>
                <span>业主A</span>
                </li>
                <li style="width:200px">
                <em>设计方</em>
                <span>设计A</span>
                </li>
                <li style="width:200px">
                <em>总承包</em>
                <span>承包C</span>
                </li>
                <li style="width:200px">
                <em>监理方</em>
                <span>监理A</span>
                </li>
                <li style="width:200px">
                <em>计划工期</em>
                <span>一年</span>
                </li>
                <li style="width:200px">
                <em>计划开始时间</em>
                <span>2019/04/06</span>
                </li>
                <li style="width:200px">
                <em>计划完成时间</em>
                <span>2020/04/05</span>
                </li>
            </ul>
                <h1 style="color: #d0d0d0; font-size: 19.5px; padding-left: 15px"><img src="Source/Images/timetable.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 实际工程进度：
                    <lm style="font-size: 1px;background-color: #e74c3c;color: #e74c3c;text-shadow: none;">OA</lm><em style="font-size:14px; font-style: normal"> 滞后</em>
                    
                </h1>
                <ul class="legend" style="padding: 15px;padding-top: 0px;margin: 0px;">
                        <li style="width:200px">
                        <em>实际开始时间</em>
                        <span>2019/04/29</span>
                        </li>
                        <li style="width:200px">
                        <em>预期完成时间</em>
                        <span>2020/05/03</span>
                        </li>
                    </ul>
        </div>

    <div>
        <br>
        <div id="chart" class="chart-container"></div>
        <ul class="chart-container legend" style="padding: 15px;padding-top: 0px;margin: 0px;">
            <h1 style="color: #d0d0d0;"><img src="Source/Images/cost.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 工程成本统计</h1>
            <li>
            <em>人事成本</em>
            <span>70000</span>
            </li>
            <li>
            <em>钢筋成本</em>
            <span>45000</span>
            </li>
            <li>
            <em>机具成本</em>
            <span>20000</span>
            </li>
            <li>
            <em>脚手架成本</em>
            <span>33000</span>
            </li>
            <li>
            <em>預鑄模块成本</em>
            <span>55000</span>
            </li>
        </ul>
    </div>
        <br>
    <div>
            <div class="chart"><h1 style="
                text-align: center;
                position: absolute;
                padding-left: 70px;
                padding-top: 55px;
                font-size: 30px;
                color: #d0d0d0;
            ">55%</h1><div class="percentage" data-percent="55"></div></div>

        <ul class="legend" style="padding: 15px;padding-top: 0px;margin: 0px;display: inline-block;">
                <h1 style="color: #d0d0d0;"><img src="Source/Images/chart.png" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));width: 40px;"></img> | 项目工程进度</h1>
                <li>
                        <em>A区預鑄模块安装</em>
                        <span>60%</span>
                        </li>
                        <li>
                        <em>B区預鑄模块安装</em>
                        <span>30%</span>
                        </li>
                        <li>
                        <em>钢筋绑扎</em>
                        <span>50%</span>
                        </li>
                        <li>
                        <em>脚手架架设</em>
                        <span>95%</span>
                        </li>
                        <li>
                        <em>模板架设</em>
                        <span>40%</span>
                        </li>
            </ul>
    </div>
</section>
